/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

/* --------- Global style */

body {
    background-color: #171717;
    font-family: "Play", sans-serif;
    color: #F3F3F3;

}

/* --------- Logo */

.logo {
    font-size: 4rem;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 10px;


}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 3rem;
    margin-top: 10px;
}

.instruction-area h2 {
    margin-top: 1px;
}

/* --------- Game layout */

.instruction-area {
    background-color: rgba(31, 32, 31, 0.9);
    /* width: 50%; */
    width: fit-content;
    margin: auto;
    padding: 10px 10px;
    border-radius: 10px 10px;
    border: 1px solid #FFFFFF;
}

.play-now-button {
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 10px 10px;
    border: 1px solid #FFFFFF;
}


.play-now-button:hover {
    cursor: pointer;
    background-color: #ffffff07;
}

.game-area {
    visibility: hidden;
    /* visibility: visible; */
}

.controls-area {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.random-number-area {
    font-size: 8rem;
    padding-right: 20px;

}

.buttons-area {

    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.buttons-area i {
    font-size: 4rem;
    padding: 5px;

}

.buttons-area i:hover {
    color: #ffffffce;
}

.answer-area {
    text-align: center;
    font-size: 2rem;
    padding-top: 10px;

}

/* Changes color of text if answer is correct */

.correct {
    color: #00FF00;
}

.incorrect {
    color: #ff0000;
}

.score-area {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding: 25px;
    text-align: center;
    gap: 10px;
}

.best-streak-area span,
.current-streak-area span {
    background: rgba(255, 206, 0, 0.85);
    border: 1px solid rgba(31, 32, 31, 0.9);
    padding: 4px;
    border-radius: 10px 10px;

}

@media (max-width: 400px) {

    .buttons-area span {
        display: none;
    }
}