/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

/* --------- Global style */

body {
    background-color: #171717;
    ;
    font-family: "Play", sans-serif;
    color: #F3F3F3;

}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 3rem;
}

/* --------- Game layout */

.instruction-area {
    background-color: rgba(31, 32, 31, 0.9);
    width: 50%;
    margin: auto;
    padding: 10px 10px;
}

.controls-area {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.random-number-area {
    font-size: 8rem;
    padding-right: 20px;

}

.buttons-area {

    display: flex;
    flex-direction: column;
}

.buttons-area i {
    font-size: 4rem;
    padding: 5px;

}

.answer-status-area {
    text-align: center;
    font-size: 2rem;
}

.score-area {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding: 25px;
    text-align: center;
    gap: 10px;
}